body{
    background: rgb(37, 111, 114);
    margin: auto;
}
.container{
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}
.img{
    text-align: center;
}
.img>img{
    border-radius: 50%;
    width: 200px;
}
.block1{
    width: 50%;
    display: flex;
    justify-content: center;
    background: burlywood;
}
.block2{
    width: 50%;
    display: flex;
    flex-direction: column;
    background: #9a9aab;
    padding-left: 24px;
}